<%- include('partials/header') %>

<div style="padding: 44px; margin-top: 6rem;">
    <p style="font-size: 30px; font-weight: 700; color: red; text-align: center;"><%= content %></p>
    <a class="btn btn-dark btn-lg" href="/login" role="button" style="margin-left: 31rem; width: 16rem;">home</a>
</div>

<%- include('partials/footer') %>